body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 500px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}
.popup__close{
	position: absolute;
	right: 20px;
	top: 20px;
	@media (any-hover: hover){
		transition: color .3s ease 0s;
		&:hover{
			color: var(--colorOrange);
		}
	}
}
.auth{
	&__form{
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: rem(18);
		margin-top: rem(50);
	}
	&__inputs{
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: rem(350);
	}
	&__input{
		border: 1px solid var(--colorBlackOnyx);
		border-radius: rem(5);
		background-color: #eee;
		margin: rem(10) 0;
		padding: rem(10) rem(15);
		transition: all .3s ease 0s;
		&.focus-visible{
			outline: unset;
			border: 1px solid var(--colorOrange);
		}
		&::placeholder{
		}
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				appearance: none;
				margin: 0;
			}
	}
	&__btns{
		display: flex;
		gap: rem(15);
		margin-top: rem(50);
		font-size: rem(16);
		@include media-breakpoint-down(mobile){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__btn-submit{
		flex: 0 1 50%;
		border: 1px solid var(--colorOrange);
		border-radius: 100px;
		padding: rem(10) rem(15);
		transition: all .5s ease 0s;
		@include media-breakpoint-down(mobile){
			flex: 0 1 90%;
		}
		&:hover{
			background-color: var(--colorOrange);
			color: var(--colorWhite);
		}
	}
}