footer.footer
  .footer__container
    a.footer__logo(href="https://midis.ru/" target='_blank')
      +svg('logo', '190', '40', 'currentColor', 'none')
      span
        |международный институт
        br
        |дизайна и сервиса