section.test
  .test__question Вам нравится участвовать в географических, геологических экспедициях?
  .test__answer 
    button.test__btn-answer.btn(type="button") Да
    button.test__btn-answer.btn(type="button") Нет
    button.test__btn-answer.btn(type="button") Затрудняюсь ответить
  button.test__btn-back(type="button")
    +svg('arrow-left', '30', '30', 'currentColor', 'none')
  .test__footer 
    .test__progress-counter 
      span 2
      |/
      span 60
    .test__progress_line.progress
      .progress-bar