.footer{
  @include adaptiveValue("font-size", 16, 14);
  font-weight: 300;
  text-transform: uppercase;
  border-top: 1px solid $colorBlackOnyx;
  color: #706F6F;
  &__container{
    padding: rem(20) rem(30);
	}
  &__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: rem(20);
    row-gap: rem(10);
    transition: all .3s ease 0s;
    line-height: 1.2;
    width: fit-content;
    &:hover{
      color: $colorOrange;
    }
    @include media-breakpoint-down(mobile){
      justify-content: center;
      text-align: center;
    }
  }
}